.sidePanel {
  width: 50px;
  height: 100vh;
  background-color: rgb(51,51,51);
  color: rgb(133,133,134);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4px 0px;
}

.sidePanel-top-items,
.sidePanel-bottom-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.sidePanel-item {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  cursor: pointer;
  position: relative;
}
.sidePanel-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 8px;
  width: 2px;
  background-color: transparent;
  transition: background-color 0.2s;
} 

.sidePanel-item:hover {
  color: #ffffff;
}
.sidePanel-item:hover::before,
.sidePanel-item.active::before {
  background-color: #fff;
} 
/* Active/selected state */
.sidePanel-item.active {
  color: #ffffff;
  background-color: #373737;
}
.sidePanel-item.active::before {
  opacity: 1; /* stay visible */
}
