/* SidePannel.css */

.sidePannel {
  width: 50px;
  height: 100vh;              
  background-color: #252526;    /* VS Code activity bar background */
  color: #6f6f6f;
  display: flex;
  flex-direction: column;

  justify-content: space-between; /* pushes bottom group to the bottom */
  align-items: center;
  padding: 4px 0px;
}

.sidePannel-top-items,
.sidePannel-bottom-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* each icon container */
.sidePannel-item {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;           
  cursor: pointer;
  position: relative;
}

.sidePannel-item svg {
  pointer-events: none;
}

/* hover / active state, like VS Code */
.sidePannel-item:hover{
  color: #ffffff;
}

/* blue bar on the left for hover/active */
.sidePannel-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 8px;
  bottom: 8px;
  width: 2px;
  background-color: transparent;
}

.sidePannel-item.active::before {
  background-color: #007acc;    
}
 