.sidePannel {
  width: 60px;
  background: #252526;
  color: #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 8px;
  border-right: 1px solid #222;
  height: calc(100vh - 40px);
}
.sidePannel-item {
  margin: 12px 0;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 8px 0;
  width: 100%;
  text-align: center;
  border-radius: 4px;
}
.sidePannel-item:hover {
  background: #333;
  color: #fff;
}
