.editor-area {
  flex: 1;
  background: #303030;
  color: #fff;
  display: flex;
  flex-direction: column;
 
}
.editor-tab {
  background: #373738;
  padding: 8px 16px;
  border-bottom: 1px solid #212121;
  font-size: 14px;
  line-height: 22px;
}
.editor-textarea {
  flex: 1;
  background: #1e1e1e;
  color: #fff;
  border: none;
  resize: none;
  font-size: 1rem;
  padding: 16px;
  outline: none;
}
