#root {
  max-width: 1280px;
  margin: 0 ;
  padding: 0;
  text-align: center;
}


.read-the-docs {
  color: #888;
}

/* VS Code Clone Layout */
.vscode-clone-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #1e1e1e;
}
.main-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex:1;
}
