body, html, #root, .vscode-clone-root {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex:1;
}

.editor-area{
  display: flex;
  flex-direction: column;
}
